.mobile-menu__icon {
    display: none;
    width: 30px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.mobile-menu__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 15px 30px;
    border-radius: 0 0 30px 30px;
    position: absolute;
    top: 74px;
    left: 0;
    width: 100%;
    background-color: rgba(243, 242, 242, 1);
    z-index: 3;
}

.mobile-menu__panel_hidden {
    display: none;
}

.mobile-menu__wrapper {
    padding: 0 15px;
    margin-bottom: 158px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0px, max-content));
    grid-gap: 26px;
}

.backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

@media (max-width: 1024px) {
    .mobile-menu__icon {
        display: inline-block;
    }
}

@media (max-width: 640px) {
    .mobile-menu__panel {
        top: 44px;
    }

    .mobile-menu__wrapper {
        margin-bottom: 50px;
    }
}
