/*! @import https://charity-project-bbbs.github.io/bbbs-project/blocks/tag.css */
.tag {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 15px;
  padding: 2px 7px;
  font-family: 'Proto Grotesk-Light', Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #464646;
  margin: 0;
}

.tag_theme_white {
  background: #f3f2f2;
}

.tag_place_event {
  max-width: 130px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
}
/*! end @import */
