.header {
  max-width: 1920px;
  margin: 0 auto;
  padding: 40px 75px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  transition: transform 200ms ease-in-out;
  z-index: 5;
}

.header__logo {
  text-decoration: none;
  cursor: pointer;
  font-family: 'Proto Grotesk-Light', sans-serif;
  font-size: 25px;
  line-height: 1.12;
  color: #224cff;
  transition: color 200ms ease-in-out;
}

.header__logo:hover {
  color: #2e2468;
}

.header__action {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__button-login {
  margin-left: 40px;
  position: relative;
}

.header__button-login:before {
  content: '';
  display: block;
  width: 1px;
  background-color: #a7a6a6;
  left: -20px;
  top: 5px;
  height: calc(100% - 10px);
  position: absolute;
}

@media (max-width: 1440px) {
  .header {
    padding: 40px 135px 0;
  }
}

@media (max-width: 1024px) {
  .header {
    padding: 40px 127px 0;
    transition: all 200ms ease-in-out;
    display: grid;
    grid-template: 1fr / max-content 1fr max-content;
  }

  .header__logo {
    margin: auto;
    font-size: 17px;
    line-height: 1.7;
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .header__button-login {
    display: none;
    margin-left: 10px;
  }

  .header__button-login_show {
    display: inline-block;
  }

  .header__button-login:before {
    display: none;
  }

  .header__action {
    order: -1;
    grid-column: 1 / 2;
    grid-row: 1;
  }
}

@media (max-width: 640px) {
  .header {
    padding: 15px 15px 0;
  }
}

.header_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-bottom: 15px;
  background-color: #f3f2f2;
  transform: translateY(0);
}

.header_hidden {
  transform: translateY(-100%);
}
