/*! @import https://charity-project-bbbs.github.io/bbbs-project/blocks/story.css */
.story {
  max-width: 870px;
  height: auto;
  position: relative;
  padding: 0;
  margin-right: 0;
  background-image: url(https://charity-project-bbbs.github.io/bbbs-project/images/story-back.png);
  background-position: center;
  background-size: cover;
  border-radius: 30px;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.story::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #464646;
  opacity: 0.8;
  mix-blend-mode: multiply;
  border-radius: 30px;
  z-index: 1;
}
.story__title {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Proto', Arial, sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  z-index: 2;
}
@media (max-width: 1440px) {
  .story::after {
    display: none;
  }
  .story__title {
    display: none;
  }
}
@media (max-width: 740px) {
  .story {
    width: 100%;
    min-height: 290px;
  }
}
/*! end @import */
