.movie {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 30px;
  position: relative;
}

.movie__img {
  border-radius: 30px 30px 0 0;
  position: relative;
}

.movie__descriprion {
  padding: 15px 30px;
  min-height: 169px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.movie__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 17px;
}

.movie__title {
  font-family: 'Proto', Arial, sans-serif;
  font-weight: 300;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 5px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movie__caption {
  font-family: 'PT Proto', Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #464646;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.movie__link {
  font-family: 'Proto', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: #224cff;
  margin: 0;
  text-decoration: none;
  z-index: 4;
}

.mainlink {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  z-index: 3;
}
