@import './vendor/normalize.css';
@import './vendor/fonts/proto/proto.css';
@import './vendor/fonts/pt-root/pt-root.css';

* {
  box-sizing: border-box;
}

.app_header-offset {
  padding-top: 108px;
}

body {
  font-family: 'PT-Root-UI', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  background-color: #f3f2f2;
}

@media (max-width: 640px) {
  .app_header-offset {
    padding-top: 58px;
  }
}
