@import "./vendor/normalize.css";

* {
    box-sizing: border-box;
}

body {
    font-family: 'PTRootUI', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    background-color: #F3F2F2;
}
