.icon-button {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  border: none;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  cursor: pointer;
}
